# python 기본 연산

In [1]:
3 * (7+2)

27

In [3]:
z = 5/2
z

2.5

In [4]:
s='abc'
x='abc'
print(s==x)

True

In [5]:
height = 1.79
weight = 68.7
print('height:',height)
print('weight:',weight)

height: 1.79
weight: 68.7

In [6]:
bmi = weight/height **2
print('bmi:',bmi)

bmi: 21.44127836209856

In [7]:
x,y=2,3
print("x,y :" ,x,y)

x,y : 2 3

In [8]:
a=[1,2,3]
b=a
a.append(4)
print("a,b :",a,b)

a,b : [1, 2, 3, 4] [1, 2, 3, 4]

In [9]:
x=3
y=x
print('x,y:',x,y)
y = 4
print('x,y:',x,y)

x,y: 3 3
x,y: 3 4

In [10]:
x = 'hassan'
y=x
print('x,y : ',x,y)
y='amin'
print('x,y:',x,y)

a=''
b=''
a=[1,2,3]
b=a
print("a,b : ", a,b)
b=['a','b','c']
print("a,b : ", a,b)
a=b
b.append(4) 
print("a,b : ", a,b)

print("Type of a,b,x,y", type(a),type(b),type(x),type(y))

x,y :  hassan hassan
x,y: hassan amin
a,b :  [1, 2, 3] [1, 2, 3]
a,b :  [1, 2, 3] ['a', 'b', 'c']
a,b :  ['a', 'b', 'c', 4] ['a', 'b', 'c', 4]
Type of a,b,x,y <class 'list'> <class 'list'> <class 'str'> <class 'str'>

In [11]:
fam = ['liz',123,'emma', 134,'john',546]
print(fam)
print(fam[3])
print(fam[-2])
print(fam[-3])

print(fam[2:4])
print(fam[2:])
print(fam[:4])

['liz', 123, 'emma', 134, 'john', 546]
134
john
134
['emma', 134]
['emma', 134, 'john', 546]
['liz', 123, 'emma', 134]

In [12]:
fam = ['liz',123,'emma', 134,'john',546]
print(fam)
fam[-1] = 777
print(fam)
fam[0:2]=['fiz',444]
print(fam)

['liz', 123, 'emma', 134, 'john', 546]
['liz', 123, 'emma', 134, 'john', 777]
['fiz', 444, 'emma', 134, 'john', 777]

In [13]:
fam = ['liz',123,'emma', 134,'john',546]
print(fam)
fam_ext = fam + ['nano',666]
print(fam_ext)
del(fam_ext[-1])
print(fam_ext)

['liz', 123, 'emma', 134, 'john', 546]
['liz', 123, 'emma', 134, 'john', 546, 'nano', 666]
['liz', 123, 'emma', 134, 'john', 546, 'nano']

In [15]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [16]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [17]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [18]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45