In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [0]:
train_ = pd.read_csv('train.csv',index_col=0)
test_ = pd. read_csv('test.csv',index_col=0)
sample_submission = pd.read_csv('sample_submission.csv', index_col=0)

In [0]:
train=train_.copy()
test=test_.copy()

In [0]:
tp =0
k=0

In [0]:
cols = train.columns

59

In [0]:
for i, col in enumerate(cols):
  if i > 39 and i < 58:
    tp += train.iloc[0:4320,i]
    k+=1

In [0]:
tmp = tp/k

In [0]:
train.iloc[0:4320,58] = tmp

In [0]:
print(train['Y18'])
train.loc[:,"Y00":"Y17"].mean(axis=1)

id
0       10.666667
1       10.444444
2       10.166667
3       10.000000
4        9.833333
          ...
4747    21.500000
4748    21.500000
4749    21.500000
4750    21.500000
4751    21.000000
Name: Y18, Length: 4752, dtype: float64

id
0       10.666667
1       10.444444
2       10.166667
3       10.000000
4        9.833333
          ...
4747          NaN
4748          NaN
4749          NaN
4750          NaN
4751          NaN
Length: 4752, dtype: float64

In [0]:
for i in range(40):
  print(train.iloc[:,i].head())

id
0    9.7
1    9.3
2    9.4
3    9.4
4    9.2
Name: X00, dtype: float64
id
0    988.8
1    988.9
2    989.0
3    988.9
4    988.9
Name: X01, dtype: float64
id
0    1.2
1    1.7
2    1.1
3    1.5
4    0.8
Name: X02, dtype: float64
id
0    0.6
1    1.9
2    2.3
3    0.7
4    1.7
Name: X03, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X04, dtype: float64
id
0    1009.3
1    1009.3
2    1009.2
3    1009.2
4    1009.2
Name: X05, dtype: float64
id
0    989.6
1    989.6
2    989.7
3    989.6
4    989.7
Name: X06, dtype: float64
id
0    12.2
1    12.1
2    12.1
3    12.0
4    12.0
Name: X07, dtype: float64
id
0    1009.9
1    1010.0
2    1010.1
3    1010.0
4    1010.1
Name: X08, dtype: float64
id
0    1009.8
1    1009.9
2    1010.1
3    1010.0
4    1010.0
Name: X09, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X10, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X11, dtype: float64
id
0    82.4
1    81.2
2    86.1
3    87.7
4    88.9
Name: X12, dtype: float64
id
0     71.3
1    121.8
2    232.0
3      0.0
4      0.0
Name: X13, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X14, dtype: float64
id
0    101.1
1    165.3
2    144.0
3    115.9
4    124.7
Name: X15, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X16, dtype: float64
id
0     56.1
1      0.0
2      0.0
3    294.1
4      0.0
Name: X17, dtype: float64
id
0    0.3
1    0.4
2    0.6
3    0.1
4    0.0
Name: X18, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X19, dtype: float64
id
0    91.0
1    91.9
2    93.3
3    93.4
4    94.1
Name: X20, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X21, dtype: float64
id
0    1002.5
1    1002.5
2    1002.4
3    1002.4
4    1002.4
Name: X22, dtype: float64
id
0    1009.8
1    1009.9
2    1009.8
3    1009.7
4    1009.7
Name: X23, dtype: float64
id
0    1.1
1    0.0
2    0.0
3    0.0
4    0.0
Name: X24, dtype: float64
id
0    2.3
1    0.0
2    0.0
3    0.0
4    0.0
Name: X25, dtype: float64
id
0    0.5
1    0.0
2    0.0
3    0.2
4    0.0
Name: X26, dtype: float64
id
0    1008.7
1    1008.7
2    1008.6
3    1008.7
4    1008.7
Name: X27, dtype: float64
id
0    12.3
1    12.1
2    12.1
3    12.1
4    12.0
Name: X28, dtype: float64
id
0    1001.6
1    1001.7
2    1001.6
3    1001.5
4    1001.5
Name: X29, dtype: float64
id
0    69.1
1    70.3
2    71.5
3    73.2
4    74.3
Name: X30, dtype: float64
id
0    8.2
1    8.3
2    8.0
3    7.7
4    7.4
Name: X31, dtype: float64
id
0    10.7
1    10.3
2     9.7
3     9.4
4     9.4
Name: X32, dtype: float64
id
0    1010.1
1    1010.1
2    1010.0
3    1010.1
4    1010.1
Name: X33, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X34, dtype: float64
id
0    256.4
1    215.4
2    235.2
3    214.0
4    174.9
Name: X35, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X36, dtype: float64
id
0    77.2
1    77.3
2    77.3
3    77.5
4    78.0
Name: X37, dtype: float64
id
0    62.6
1    63.5
2    63.9
3    64.5
4    65.0
Name: X38, dtype: float64
id
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: X39, dtype: float64

In [0]:
x=train.iloc[:,:40]
y=train.iloc[:,-1]

In [0]:
test_x = test.iloc[:,:40]

In [0]:
from sklearn.model_selection import train_test_split, KFold, RandomizedSearchCV
from sklearn.model_selection import StratifiedShuffleSplit, ShuffleSplit

x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.8, shuffle=False) #random_state=0)

In [0]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/94/ec/12b9a42b2ea7dfe5b602f235692ab2b61ee1334ff34334a15902272869e8/catboost-0.22-cp36-none-manylinux1_x86_64.whl (64.4MB)
     |████████████████████████████████| 64.4MB 66kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.25.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (45.2.0)
Installing collected packages: catboost
Successfully installed catboost-0.22

In [0]:
from sklearn.ensemble import RandomForestRegressor
import lightgbm as lgbm
import xgboost as xgb
import catboost as cb

from sklearn.metrics import r2_score, mean_squared_error

params={ 'max_depth':3, 'n_estimators':2500,  'learning_rate': 0.007, \
        'boost_from_average': False, 'subsample': 1, 'loss_function':'RMSE', 'scale_pos_weight': 10,
        'coal_sample_bytree':'0.75'}

clf= xgb.XGBRegressor(**params)
#clf = cb.CatBoostRegressor(**params)
model=clf.fit(x_train,y_train, verbose=100)

0:	learn: 23.9134227	total: 48.8ms	remaining: 2m 1s
100:	learn: 12.2395007	total: 263ms	remaining: 6.25s
200:	learn: 6.4444403	total: 492ms	remaining: 5.63s
300:	learn: 3.6218309	total: 700ms	remaining: 5.11s
400:	learn: 2.2711625	total: 908ms	remaining: 4.75s
500:	learn: 1.6540452	total: 1.12s	remaining: 4.48s
600:	learn: 1.3808196	total: 1.34s	remaining: 4.22s
700:	learn: 1.2553610	total: 1.54s	remaining: 3.95s
800:	learn: 1.1824256	total: 1.75s	remaining: 3.71s
900:	learn: 1.1323399	total: 1.96s	remaining: 3.48s
1000:	learn: 1.0946016	total: 2.17s	remaining: 3.25s
1100:	learn: 1.0610180	total: 2.37s	remaining: 3.02s
1200:	learn: 1.0327977	total: 2.58s	remaining: 2.79s
1300:	learn: 1.0060802	total: 2.79s	remaining: 2.57s
1400:	learn: 0.9795994	total: 3s	remaining: 2.35s
1500:	learn: 0.9567830	total: 3.22s	remaining: 2.14s
1600:	learn: 0.9311709	total: 3.42s	remaining: 1.92s
1700:	learn: 0.9060878	total: 3.63s	remaining: 1.71s
1800:	learn: 0.8818401	total: 3.84s	remaining: 1.49s
1900:	learn: 0.8631532	total: 4.05s	remaining: 1.28s
2000:	learn: 0.8446494	total: 4.26s	remaining: 1.06s
2100:	learn: 0.8278420	total: 4.47s	remaining: 849ms
2200:	learn: 0.8118113	total: 4.68s	remaining: 636ms
2300:	learn: 0.7959688	total: 4.89s	remaining: 423ms
2400:	learn: 0.7821622	total: 5.11s	remaining: 211ms
2499:	learn: 0.7685917	total: 5.32s	remaining: 0us

In [0]:
y_pred = model.predict(x_test)

In [0]:
print( r2_score(y_pred, y_test), mean_squared_error(y_pred, y_test))

0.8451655731609227 4.395189244141803

In [0]:
pred = model.predict(test_x)

In [0]:
submission = pd.DataFrame(data=pred, columns=sample_submission.columns, index=sample_submission.index)
submission.to_csv('submission.csv', index=True)

             Y18
id
4752   20.205627
4753   20.188625
4754   20.139517
4755   19.560398
4756   19.794329
...          ...
16267  26.146971
16268  26.835278
16269  26.617311
16270  25.326712
16271  25.807226

[11520 rows x 1 columns]